body {
     font-family: 'Rubik', sans-serif;
     font-weight: bold;
     background-color: black;
     color: lightgray;
     padding: 0;
     margin: 0;
}

.info {
     display: flex;
     flex-direction: row;
}

.dp {
     width: 200px;
     border-radius: 50%;
}

.navbar {
     text-align: right;
     padding-top: 30px;
}

.navbar>a {
     font-size: 20px;
     margin-right: 180px;
     font-weight: 500;
}

a {
     text-decoration: none;
     color: lightgray;
}


.info {
     background-color: green;
     margin-top: 100px;
}

.info>.left,
.info>.right {
     margin: auto;
     width: 50%;
     /* margin-top: 100px; */
     font-weight: lighter;
}

.info>.left>img {
     width: 300px;
     border-radius: 50%;
     margin-left: 300px;
     margin-top: 20px;
}

.info>.right>p {
     font-weight: lighter;
     font-size: 20px;
     color: whitesmoke;
     opacity: 0.7;
}

.tech-stack {
     padding: 50px;
     padding-bottom: 20px;
     font-size: 20px;
     color: white;
     background-color: black;
}
 
.icon > i {
     font-size: 40px;
     margin-right: 20px;
     color: white;
}
 
.contact-mail {
     width: 200px;
     border-radius: 10px;
     padding: 3px;
}

#frame {
     transition: 1s;
     text-decoration: none;
     color: white;
}

#frame:hover {
     font-size: 25px;
     transition: 1s;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
     body {
          overflow: scroll;
     }

     *::-webkit-scrollbar {
          width: 5px;
     }

     *::-webkit-scrollbar-thumb {
          background-color: white;
          border-radius: 20px;
     }

     .info>.left>img {
          width: 150px;
          margin-left: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
     }

     .navbar>a {
          display: none;
          font-size: 15px;
          margin-right: 80px;
          font-weight: 500;
     }

     .info {
          background-color: black;
          width: 100%;
          margin-top: 20px;
          font-size: 10px;
     }

     .info>.right>p {
          font-size: 15px;
     }

     .tech-stack {
          padding: 20px;
          margin-top: 10px;
     }

     .tech-stack > p {
          font-size: 15px;
     }

     .icon {
          margin-left: 20px;
     }

     .icon > i {
          font-size: 30px;
          margin-right: 15px;
     }

     hr {
          width: 80%;
     }

     .sections {
          text-align: center;
          margin-top: 12px;
     }

     .sections > a {
          width: 200px;
          text-align: center;
          margin-left: 20px;
          margin-right: 20px;
     }

     .wrk {
          border-top: 5px solid;
          padding-top: 10px;
     }

     .bx {
          border: 0.5px solid;
          border-radius: 10px;
          font-size: 14px;
          padding: 10px;
          margin-right: 30px;
          margin-left: 30px;
          margin-bottom: 20px;
          margin-top: 20px;
          animation-duration: 2s;
          animation-name: slidein;
          transition: 0.3s ease;
     }

     @keyframes slidein {
          0% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
     }

     .bx > h3 > a {
          float: right;
          margin-right: 20px;
          font-size: 25px;
          margin-top: -5px;
     }

     .bx > .tech-used {
          text-align: right;
          margin-right: 20px;
          font-size: 20px;
     }

     .tech-used > i {
          margin-right: 10px;
     }

     .wrk:hover {
          border-top: 5px solid;
          padding-top: 10px;
          transition: 0.1s;
          left: 0;
     }

     .bx:hover {
          box-shadow: 0px 1px 5px 1px white;
          transform: scale(1.05);
          transition: 0.3s ease;
     }

     .experience {
          display: none;
     }

     .copyright {
          position:fixed;
          bottom: 0px;
          width: 100%;
          bottom: 0px;
          text-align: center;
          background-color: white;
          color: black;
     }

     .contact {
          padding: 10px;
          margin: 0;
          margin-left: 50px;
          display: flex;
          flex-direction: column;
     }

     .contact > input {
          margin-bottom: 15px;
          padding: 10px;
          border-radius: 5px;
          color: white;
          font-family: 'Rubik',sans-serif;
          width: 75%;
          border: 1px solid white;
          background-color: black;
     }

     *::placeholder {
          color: white;
          font-family: 'Rubik',sans-serif;
     }

     textarea {
          resize: none;
          margin-bottom: 15px;
          padding: 10px;
          border-radius: 5px;
          color: white;
          font-family: 'Rubik',sans-serif;
          width: 75%;
          height: 100px;
          border: 1px solid white;
          background-color: black;
     }

     #contact > p {
          margin-top: 25px;
          margin-left: 50px;
     }

     .contact > .button {
          padding: 20px;
          width: 50%;
          margin-left: 120px;
          color: black;
          background-color: white;
          font-family: 'Rubik',sans-serif;
          border: 0px;
          border-radius: 5px;
          transition: 0.2s ease;
     }

     .contact > .button:hover {
          background-color: black;
          color: white;
          transition: 0.3s ease;
          border: 1px solid white;
          transform: scale(1.1);
     }

     .copyright > a > i {
          margin-top: 10px;
          font-size: 30px;
          color: black;
     }


     @keyframes invalid {
          0% {
               transform: translateX(-2%);
          }
          25% {
               transform: translateX((2%));
          }
          50% {
               transform: translateX(-2%);
          }
          75% {
               transform: translateX(2%);
          }
          100% {
               transform: translateX(-2%);
          }
     }

     .copyright > a > i:hover {
          transform: scale(1.5);
          transition: 0.3s ease;
     }
}
